.content {
  padding-top: 20px;
}

a {
  color: darkblue;
}

blockquote {
  background: #f5f5f5;
  border-left: 10px solid #848484;
  margin: 1.5em 0;
  padding: 0.7em 10px;
}


blockquote p {
  display: inline;
}