body {
  font-family: "Libre Baskerville";
}

.contentWidth {
  max-width: 80vw;

  @include tablet {
    max-width: 80vw;
  }

  @include desktop {
    max-width: 50vw;
  }
}

main {
  margin: 20% auto 40px;

  @include tablet {
    margin: 10% auto 20px;
  }

  @include desktop {
    margin: 10% auto 30px;
  }
}

a {
  color: black;
}

html {
  background-color: $background-color;
}

ol, li, p {
  line-height: 1.8rem;
}

.stickyHeader {
  padding-top: 20px;
  padding-bottom: 10px;
  background: $background-color;
  position: sticky;
  top: 0;
  z-index: 9;
  box-shadow: 0 4px 2px -2px #80808017;
  div {
    margin: auto;
  }
}