body {
  font-family: "Libre Baskerville";
  max-width: 80vw;
  margin: 15% auto 20px;

  @include tablet {
      max-width: 80vw;
      margin: 15% auto 20px;
  }

  @include desktop {
      max-width: 50vw;
      margin: 15% auto 20px;
  }
}

a {
  color: black;
  text-decoration: none;
}

html {
  background-color: #DFDFDF;
}